<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<%- include('./partials/nav') %>
	<body>
		<h1><%= title %></h1>

		<% items.forEach((item) => { %> <% switch (type) { case 'game': %>
		<h2><%-item.game_name %></h2>
		<h3><%-item.release_date.toString().slice(0, 15)%></h3>
		<% break; case 'genre': %>
		<h2><a href=<%= `/genres/${escape(item.genre)}` %> ><%-item.genre %></a> <%-item.count%></h2>
		<% break; case 'developer': %>
		<h2><a href=<%= `/developers/${escape(item.developer)}` %> ><%-item.developer%></a> <%-item.count%></h2>
		<% break; case 'platform': %>
		<h1>Platform</h1>
		<% break;}%> <% }); %>
	</body>
</html>
